
<div>
<h1>Datos Personales </h1>
      <ul>
        <li><b>Nombre</b>: {{nombre}}</li>
        <li><b>Apellido</b> : {{apellido}} </li>
        <li><b>Edad </b>: {{edad}}</li>
        <li><b>Email</b>: {{email}}</li>
        <li><b>Telefono</b>: {{telefono}}</li>
      </ul>
</div>